Source: xlennart
Maintainer: Daniel Reurich <daniel@centurion.net.nz>
Section: games
Priority: extra
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), git

Package: xlennart
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Xlennart the sequel to Xbill
 This is the sequel to the game XBill. A new nemesis has arisen....
 
